body {
	background-color: rgb(240,240,240);
	font-family: sans-serif;
}

#header {
	background: red;
	height: 100vh;
	overflow: auto;
}

#header h1 {
	margin-top: 80vh;
	text-align: center;
}